<%
def mysql_password
        f = File.new("../.my.cnf")
        f.readlines[2].split(" = ").last.chomp
end
%>

production:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: quality
  pool: 5
  username: rails
  password: <%= mysql_password %>
  socket: /var/run/mysqld/mysqld.sock

