= form.error_messages
%p
  %label{:for => "post_title"} Title:
  = form.text_field :title
%p
  %label{:for => "post_body"} Body:
  = form.text_area :body
%p
  %label{:fot => "post_tags"} Tags:
  = form.text_field :tag_list
