%h1 New post
= error_messages_for :post
- form_for(:post, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :form => f }
  %p= submit_tag "Publish"

= link_to 'Back', collection_url
