%h1 Log In

- form_tag account_path do
  %p
    %label{:for => "login"} Login
    %br
    = text_field_tag 'login', @login

  %p
    %label{:for => "password"} Password
    %br
    = password_field_tag 'password', nil

  /
    Uncomment this if you want this functionality
    <p><label for="remember_me">Remember me:</label>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>

  %p
  = submit_tag 'Log in'
